/* Import the CSS from vendors */

@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/basscss/8.1.0/css/basscss.min.css');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Roboto&display=swap');

/* Import Variables */

@import './variables';

/* Global Styles */
html {
    font-size: $font-size_root;
    min-height: 100vh;
}

body{
    font-family: $font-family_main-text;
}

h1, h2, h3, h4, h5 , h6 {
    font-family: $font-family_heading-text;
}

h1 {
    font-size: 2rem;
}

/* Main Coontent */
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
