/* Import global variables*/

@import '../../styles/variables';

/* Footer Styles */
.footer {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background_header-background;
    color: $color_main-text;
    a {
	margin: 0 .4rem;
	text-transform: uppercase;
	&:link,
	&:visited,
	&:active {
	    color: $color_main-text;
	    text-decoration: none;
	}
	&:hover{
	    color: $color_hover-link;
	}
    }
}
