/* Import global variables*/

@import '../../styles/variables';

/* Style */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $background-header-background;
    color: $color_main-text;
    a {
	margin: 0 .4rem;
	text-transform: uppercase;
	&:link,
	&:visited,
	&:active {
	    color: $color_main-text;
	    text-decoration: none;
	}
	&:hover{
	    color: $color_hover-link;
	}
    }
    .logo {
	font-size: 2rem;
	border: $border_logo;
	padding: 0.2rem;
	margin: 0.4rem;
	line-height: 0.85;
    }
}
