/* Variables */
$font-family_main-text:'Roboto', sans-serif;
$font-family_heading-text:'IBM Plex', monospace;

$font-size_root: 16px;

$background_header-background: #013987;
$color_main-text: #fac375;
$color_hover-link: #b8b8b7;

$border_logo: solid 0.1rem #fac375;
