/* Import the CSS from vendors */

@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/basscss/8.1.0/css/basscss.min.css');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Roboto&display=swap');

/* Variables */
$font-family_main-text:'Roboto', sans-serif;
$font-family_heading-text:'IBM Plex', monospace;

$font-size_root: 16px;

/* Global Styles */
html {
    font-size: $font-size_root;
    min-height: 100vh;
}

body{
    font-family: $font-family_main-text;
}

h1, h2, h3, h4, h5 , h6 {
    font-family: $font-family_heading-text;
}
